* {
	padding: 0;
	margin: 0;
}

/* Размер картинки - всегда максимальный до ближайшей границы (горизонтальной, или вертикальной). Скрипт 'height.js' предназначен для правильной работы параметра 'max-height' */
.fit {
    max-width: 100%;
    max-height: 100%;
}

/* Расположение картинки */
.center {
	display: block;
	margin: auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

/* Расположение левой стрелки */
.left {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

/* Расположение правой стрелки */
.right {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0px;
}
